{% extends 'base.html' %}

{% block content %}
<h1>Sign In</h1>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}<br/>
            {{ form.username(size=32, class_="form-control") }}
            {% for error in form.username.errors %}
                <span style="color: red">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}<br />
            {{ form.password(size=32, class_='form-control') }}
            {% for error in form.password.errors %}
                <span style="color:red">{{ error }}</span>
            {% endfor %}
        </div>
        <br>
        <div>
            {{ form.submit(class_='btn btn-success btn-sm') }}
        </div>
    </form>
{% endblock content %}